<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-christian-custom-camera"
    version="1.0.0">

    <name>Christian Custom Camera</name>
    <description>Custom Cordova Camera Plugin</description>
    <license>Apache-2.0</license>
    <keywords>cordova,camera</keywords>

    <engines>
        <engine name="cordova" version=">=10.0.0" />
        <engine name="cordova-android" version=">=10.0.0" />
    </engines>

    <!-- JavaScript -->
    <js-module src="www/Camera.js" name="Camera">
        <clobbers target="plugins.ChristianCustomCamera" />
    </js-module>

    <!-- Android -->
    <platform name="android">

        <!-- Permissions & Hardware Features -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
        </config-file>

        <!-- Register FileProvider in AndroidManifest application block -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <provider
                android:name="com.christian.customcamera.CustomCameraFileProvider"
                android:authorities="${applicationId}.customcamera.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/custom_camera_paths" />
            </provider>
        </config-file>

        <!-- Cordova plugin registration -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomCamera">
                <param name="android-package" value="com.christian.customcamera.CameraLauncher" />
            </feature>
        </config-file>

        <!-- XML Paths Resource -->
        <resource-file
            src="src/android/xml/custom_camera_paths.xml"
            target="res/xml/custom_camera_paths.xml" />

        <!-- Kotlin Source File -->
        <source-file
            src="src/android/CameraLauncher.kt"
            target-dir="src/com/christian/customcamera" />

        <!-- Java FileProvider Source File -->
        <source-file
            src="src/android/CustomCameraFileProvider.java"
            target-dir="src/com/christian/customcamera" />

        <!-- Dependencies -->
        <framework src="org.jetbrains.kotlin:kotlin-stdlib:1.9.20" />
        <framework src="androidx.core:core-ktx:1.13.1" />

    </platform>

</plugin>
